<a href="https://colab.research.google.com/github/JoseOsorioS/UTEC_Python/blob/main/Programiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arguments are the inputs to the function, and return value is the output from the function.

In [ ]:
def add_numbers(a,b):
    result = a+b
    return result

total = add_numbers(10,20)
print(total)

print (add_numbers(100,200))

30
300

In [ ]:
odd_numbers = [1,3,5,7,9]
even_numbers = [2,4,6,8]
all_numbers = odd_numbers + even_numbers
print(all_numbers)
#

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
list1 = []
print (list1)
numbers = [1,2,3]
print (numbers)
mixed_list = [1,'hello',3.4]
print (mixed_list)

[]
[1, 2, 3]
[1, 'hello', 3.4]

In [ ]:
languages = ['Python','JavaScript','C++']
lenghth = len(languages)
print (lenghth)
print (languages)

3
['Python', 'JavaScript', 'C++']

Create a list named list1 containing 5 elements.
Use the len() function to find the length of list1 and print it.

In [ ]:
list1 = [1,2,3,4,5]
length = len(list1)
print (length)

5

Create a list named odd_numbers containing 3 items: 9, 11, and 15.
Print the second item of the list (using a positive index).

In [ ]:
odd_numbers = [9,11,15]
print (odd_numbers[1])

11

In [ ]:
numbers = [10, 20, 30, 40, 50, 60]

In [ ]:
new_numbers = numbers[2: 5]
print (new_numbers)

[30, 40, 50]

In [ ]:
numbers = [12, 13, 14, 15]

print(numbers[1: 3])
print(numbers[2: ])

[13, 14]
[14, 15]

In [ ]:
animals = ['dog', 'cat', 'guinea pig', 'rat']
print (animals)

['dog', 'cat', 'guinea pig', 'rat']

In [ ]:
animals[2] = 'tiger'
print (animals)

['dog', 'cat', 'tiger', 'rat']

In [ ]:
animals = ['dog', 'cat', 'rat']
del animals[1]
print (animals)

['dog', 'rat']

In [ ]:
animals = ['dog', 'cat']

# add 'rabbit' at the end of the list
animals.append('rabbit')

print(animals)

['dog', 'cat', 'rabbit']

In [ ]:
animals = ['dog', 'cat']

animals1 = ['rabbit', 'pig']

# add items of animals1 list to the animals list
animals.extend(animals1)

print(animals)

['dog', 'cat', 'rabbit', 'pig']

In [ ]:
animals = ['dog', 'cat', 'rat']

# 'rabbit' is inserted at the third position (index 2)
animals.insert(2, 'rabbit')

print(animals)

['dog', 'cat', 'rabbit', 'rat']

In [ ]:
animals1 = ['dog', 'cat', 'rat']

animals2 = animals1.copy()

print(animals2)

['dog', 'cat', 'rat']

In [ ]:
animals = ['dog', 'cat', 'rat']

# delete the second item
del animals[1]

print(animals) # ['dog', 'rat']

# delete the first item
del animals[0]

print(animals) # ['rat']

['dog', 'rat']
['rat']

Create an empty list and assign it to the animals variable.
Add "dog" to the end of the animals list using the append() method.
Print the animals list.
Again, add "cat" to the animals list using the append() method.
Print the animals list again.

In [ ]:
animals = []
animals.append('dog')
print (animals)
animals.append('cat')
print (animals)

['dog']
['dog', 'cat']

In [ ]:
fruits = ['apple', 'potato', 'mango']

if 'apple' in fruits:
    print('apple is tasty')

if 'potato' in fruits:
    print('Whaaaat?')

apple is tasty
Whaaaat?

In [ ]:
fruits = ['apple', 'banana', 'mango']

print('Kiwi' in fruits)   # False
print('Kiwi' not in fruits)

False
True

Suppose we have a list like this: [10, 20, 30, 40]
Your task is to find the length of this list programmatically.

In [ ]:
numbers = [10, 20, 30, 40]

length = len(numbers)
print (length)

4

In [ ]:
odd_numbers = (9,11,15,17)

Print the third item of the tuple (using a positive index).

In [ ]:
print (odd_numbers[2])

15

In [ ]:
animal = "Cat"
print (animal[-1])

t

In [ ]:
text = "Bamboozle"
print(text[0])

B

In [ ]:
print( text[3])

b

In [ ]:
movie = "Snowpiercer"
print( movie[3])

w

In [ ]:
movie = "Pulp Fiction"
print( movie)

Pulp Fiction

In [ ]:
movie = "Avengers: Endgame"

# characters from index 0 to 7
print(movie[0: 8])   # Avengers

# characters from index 0 to 7
print(movie[: 8])   # Avengers

# characters from index 10 to 16
print(movie[10: 17])   # Endgame

# characters from index 10 to last
print(movie[10: ])   # Endgame

# characters from first to last
print(movie[:])   # Avengers: Endgame

Avengers
Avengers
Endgame
Endgame
Avengers: Endgame

Get two string inputs from the user and store them in text1 and text2 respectively.
Create a new string that will contain the first four characters of the text1 string and the last four characters of the text2 string. Store the resultant string in the result variable.
Print the new string.

In [ ]:
text1 = input()
text2 = input()
result = text1[:4] + text2[-4:]
print (result)

Magnus
Carlsen
Magnlsen

Create a dictionary named student_info.
Inside the dictionary, store two keys, 'name' and 'score' with values 'James' and 98, respectively.
Print the dictionary.

In [ ]:
student_info = {'name': 'James', 'score': 98}
print (student_info)

{'name': 'James', 'score': 98}

In [ ]:
numbers = {10: 'ten', 20: 'twenty', }

length = len(numbers)
print(length)    # Output: 2

person_info = {}
print(len(person_info))   # Output: 0

2
0

In [ ]:
student_info = {
    'name': 'Kyle',
    'major': 'Computer Science',
    'age': 19
}

print(student_info['car'])

KeyError: 'car'

{'apple': 2.5, 'kiwi': 3.4}

In [ ]:
prices = {'apple': 2.5, 'kiwi': 3.4}
print (prices)

{'apple': 2.5, 'kiwi': 3.4}

Change the value of the 'apple' key to 3.5.
Print the dictionary.
Add an item (key: 'banana', value: 3) to the dictionary.
Print the dictionary again.

In [ ]:
prices['apple'] = 3.5
print (prices)
prices['banana'] = 3
print (prices)
prices

{'apple': 3.5, 'kiwi': 3.4}
{'apple': 3.5, 'kiwi': 3.4, 'banana': 3}

{'apple': 3.5, 'kiwi': 3.4, 'banana': 3}

In [ ]:
squares = {1: 1, 3: 9, 5: 25}

for key in squares:
    print(key)

1
3
5

In [ ]:
squares = {1: 1, 3: 9, 5: 25}

for key in squares:

    # get the value of a key
    value = squares[key]
    print(f"{key} -> {value}")

1 -> 1
3 -> 9
5 -> 25

In [ ]:
prices = {'apple': 2, 'kiwi': 3}
print (prices)

{'apple': 2, 'kiwi': 3}

using a for loop, print the values of all the dictionary keys one by one.

In [ ]:
prices = {'apple': 2, 'kiwi': 3}
for key in prices:
    print (prices[key])

2
3

In [ ]:
scores = {'Physics': 67, 'Maths': 87}

print(scores.get('Physics'))   # 67
print(scores.get('Biology'))   # None

67
None

In [ ]:
scores = {'Physics': 67, 'Maths': 87}

print(scores.get('Physics'))   # 67
print(scores.get('Biology'))   # None

67
None

In [ ]:
original_marks = {'Physics': 67, 'Maths': 87}

copied_marks = original_marks.copy()

print(f"Original Marks: {original_marks}")
print(f"Copied Marks: {copied_marks}")

Original Marks: {'Physics': 67, 'Maths': 87}
Copied Marks: {'Physics': 67, 'Maths': 87}

In [ ]:
animals = {'dog', 'cat', 'tiger'}
print(animals)   # {'dog', 'cat', 'tiger'}

mixed_set = {4, 'tiger', 3.5}
print(mixed_set)   # {3.5, 'tiger', 4}

{'dog', 'cat', 'tiger'}
{3.5, 4, 'tiger'}

check the type of animals

In [ ]:
animals

{'cat', 'dog', 'tiger'}

In [ ]:
print(type(animals))

<class 'set'>

In [ ]:
empty_dict = {}

In [ ]:
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
d1[7] = 'an integer'
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
print(d1['b'])

[1, 2, 3, 4]

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

Create an empty set using the set() function and assign it to the numbers variable.
Get an integer input from the user and assign it to the number variable.
Add number to the numbers set using the set's add() method.
Print the numbers set.

In [ ]:
numbers = set()
number = int(input())
numbers.add(number)
print (numbers)

5
{5}

sets union

In [ ]:
domestic_animals = {'dog', 'cat', 'elephant'}
wild_animals = {'lion', 'tiger', 'elephant'}
animals = domestic_animals | wild_animals
print(animals)

{'elephant', 'tiger', 'lion', 'cat', 'dog'}

sets intersection

In [ ]:
domestic_animals = {'dog', 'cat', 'elephant'}
wild_animals = {'lion', 'tiger', 'elephant'}
animals = domestic_animals & wild_animals
print(animals)

{'elephant'}

In [ ]:
def display(n):

    if n <= 3:
        return "Done"

    print(n)
    return display(n + 1)

print(display(1))

Done

In [ ]:
def display(n):

    if n >= 4:
        return 1

    return display(n + 1) * 2

print(display(1))

8

Create a sequence of numbers 4, 7, 10 using the range() function.
Convert this sequence to tuple using the tuple() function.
Print the tuple.

In [ ]:
numbers = tuple(range(4,11,3))
print (numbers)

(4, 7, 10)

Create a sequence of numbers 4, 7, 10 using the range() function.
Convert this sequence to tuple using the tuple() function.
Print the tuple.

In [ ]:
import math

number = 25

# compute square root
result = math.sqrt(number)

print(result)   # 5.0

5.0

Import the math module.
Get two integer inputs from the user.
Call the gcd() function with two numbers as arguments. The function returns the greatest common divisor.
Print the result.

In [ ]:
import math
n1 = int(input())
n2 = int(input())
result = math.gcd(n1,n2)
print (result)

15
25
5

The random module provides different functions that allow us to generate random numbers.

In this example, we will generate a random integer between 1 and 100 using the randint() function.

In [ ]:
import random

number_number = random.randint(1, 100)
print(number)

25

The cost price of a book is 25 dollars.
The selling price of the book is 35 dollars.
Calculate the profit amount and print it.

In [ ]:
selling_price = 35
cost_price = 25
profit = selling_price - cost_price
print (profit)

10

In [ ]:
a = 20
b = 6.5
print(a * b)

130.0

In [ ]:
result = 10 / 5 * 6
print(result)

12.0

Imagine you have to divide 14 pens among 3 students equally. Your task is to find out:

How many pens each student would get when divided equally?
The number of pens left over (if any).
To solve this problem:

Create a variable named pen_number and assign it the value of 14.
Create another variable named student_number and assign it the value of 3.
Compute the number of pens each student will get and print the result.
Compute the number of pens remaining and print the remainder.

In [ ]:
pen_number = 14
student_number = 3

quotient = pen_number // student_number
print(f"Pens for each student: {quotient}")

remainder = pen_number % student_number
print(f"Remaning pens: {remainder}")

Pens for each student: 4
Remaning pens: 2

In [ ]:
result = 2 ** 3
print(result)

8

Create a variable named length and assign it the value 5.
Calculate the volume of the cube using its length.
Print the volume.

In [ ]:
length = 5
volume = length ** 3
print (volume)

125

In [1]:
import math

Once we import the module, we can use these functions. Let's use the sqrt() function (to compute square root) defined inside the math module.

In [2]:
result = math.sqrt(25)
print(result)

5.0

round a number down to the nearest integer

In [3]:
number = 3.6
result = math.floor(number)
print(result)

3

In [4]:
import math
import math

result = math.sqrt(9)
print(result)

3.0

In [7]:
import math as m

number = 25


result = m.sqrt(number)

print(result)   # 5.0

5.0

In [8]:
from math import sqrt, floor

number = 25

# compute square root
result = sqrt(number)

print(result)   #

5.0

Import the math module.
Get two integer inputs from the user.
Call the gcd() function with two numbers as arguments. The function returns the greatest common divisor.
Print the result.

In [9]:
import math
n1 = int(input())
n2 = int(input())
result = math.gcd(n1,n2)
print (result)
#

15
25
5

The random module provides different functions that allow us to generate random numbers.

In this example, we will generate a random integer between 1 and 100 using the randint() function.

In [10]:
import random

random_number = random.randint(1, 100)
print(random_number)

98